{% extends 'base.html' %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <table>
       {{ form.as_table }}
    </table>


        <input type="submit" value="Cadastrar" class="btn btn-salvar">

    <div class="errors">
        {% if form.errors %}
            <div class="alert alert-danger">
                {% for error in form.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

    </div>
    </form>
{% endblock content %}